<li>
	{{burger_name}}

	<button id="change-devoured" class="btn btn-light" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Order Up! Take A Bite!{{else}}I've been eaten! Click me to order again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
